<%= form_for @item, url: items_path do |form| %>
  <form id="itemForm">
    <div class="">
      <%= render "shared/error_messages", object: @item %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name,class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.select(:category_id, list_category, class: "custom-select") %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.text_area(:description, rows: 5, class: "form-control")%>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :price %>
          <%= form.text_field :price,class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :image %>
          <span class="image">
            <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :quantity %>
          <%= form.text_field :quantity, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="submit-button text-center">
          <%= form.submit t("item.create_item") %>
          <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
       </div>
     </div>
  </form>
<% end %>
