<%= form_for(@category, url: categories_path) do |form| %>
  <form id="categoryForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="">
            <%= render "shared/error_messages", object: @category %>
          </div>
          <br>
          <br>
          <%= form.label :name, t("category.name_cate") %>
          <%= form.text_field :name,class: "form-control" %>
          <%= form.submit t("category.create_cate") %>
        </div>
      </div>
    </div>
  </form>
<% end %>
